.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 112px;
    padding-bottom: 20px;
  }
  #searchbar{
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 50px;
  }
  .buttons{
    text-align: center;
    padding-top: 30px;
    margin-bottom: 300px;
  }
  .buttons :first-child{
    margin-right: 10px;
  }
  button{
    height: 5vh;
    background: #fff;
    border: #eee 1px solid;
  }