.grid{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    border-radius: 8px;
}
:root{
    --orange:hsl(31, 77%, 52%);
    --blue:hsl(184, 100%, 22%);
    --green:hsl(179, 100%, 13%);
}
h1{
    color:hsl(0, 0%, 95%);
    padding-left: 30px;
}
#s1{
    background-color: var(--orange);
}
#s2{
    background-color: var(--blue);
}
#s3{
    background-color: var(--green);
}
button{
    border-radius: 15px;
    background-color: hsl(0, 0%, 95%);
    margin-left: 30px;
    display: block;
    margin-top: 70px;
    height: 35px;
    width: 100px;
}
#s1 button{
    color: var(--orange);
}
#s2 button{
    color: var(--blue);
}
#s3 button{
    color: var(--green);
}
p{
    color:hsla(0, 0%, 100%, 0.75);
    padding-left: 30px;
    font-size: 15px;
    margin-top: auto;
}
img{
    padding-left: 30px;
    margin-top: 50px;
}
@media screen and (max-width: 600px) {
   body .grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 400px;
        top: 50%;
        border-radius: 8px;
        transform: translate(-0%, -0%);
        position: inherit;
    }
   body button{
        margin-top: 50px;
    }
  }
