.container{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    border-style: none;
    border-radius: 10px;
    width: 65vh;
    height: auto;
    margin: auto;
    margin-top: 90px;
    box-shadow: 0px 20px 50px 8px hsl(229,23%,23%);
    font-family: 'Kumbh Sans';
}
html{
    background-color: hsl(185, 75%, 39%);
}
#s1{
    background-image: url(bg-pattern-card.svg);
    border-radius: 8px;
}
#s2{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#s3{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
#name{
    font-size: 18px;
}
.profile{
    float: left;
    margin-right: 40px;
}
img{
    border-radius: 50%;
    position: relative;
    margin-top: -170px;
}
#image{
    position: absolute;
    margin-top: 100px;
}
#pname{
    margin-top: 80px;
    text-align: center;
}
